### Configuration

In [3]:
from pyspark.sql import SparkSession
import configparser

In [4]:
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [5]:
path = config['PATH']['path']

- Create spark session

In [2]:
spark = SparkSession.builder.appName("Spark SQL Query Dataframes").getOrCreate()

23/01/11 23:07:54 WARN Utils: Your hostname, BigMac.local resolves to a loopback address: 127.0.0.1; using 192.168.0.186 instead (on interface en0)
23/01/11 23:07:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/01/11 23:07:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/11 23:07:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Read the data

In [7]:
json_df_path = path + '/utilization.json'
df = spark.read.format("json").load(json_df_path)

In [8]:
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [9]:
df.count()

500000

## SQL

- create temporary view

In [10]:
df.createOrReplaceTempView("utilization")

- query the utilization table

In [11]:
df_sql = spark.sql("""
                   SELECT * 
                   FROM utilization 
                   LIMIT 10
                   """)

In [13]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [14]:
df_sql = spark.sql("""
                   SELECT cpu_utilization, session_count
                   FROM utilization 
                   LIMIT 10
                   """)

In [16]:
df_sql.show()

+---------------+-------------+
|cpu_utilization|session_count|
+---------------+-------------+
|           0.57|           47|
|           0.47|           43|
|           0.56|           62|
|           0.57|           50|
|           0.35|           43|
|           0.41|           48|
|           0.57|           58|
|           0.41|           58|
|           0.53|           62|
|           0.51|           45|
+---------------+-------------+

### Filtering Dataframes with SQL

- get all records that the CPU utilization went over 50%

In [37]:
df_sql = spark.sql("""
                    SELECT cpu_utilization, free_memory
                    FROM utilization
                    WHERE cpu_utilization >= 0.5
                    """)

In [38]:
df_sql.count()

386739

In [39]:
df_sql.show()

+---------------+-----------+
|cpu_utilization|free_memory|
+---------------+-----------+
|           0.57|       0.51|
|           0.56|       0.57|
|           0.57|       0.56|
|           0.57|       0.35|
|           0.53|       0.35|
|           0.51|        0.6|
|           0.62|       0.59|
|           0.66|       0.72|
|           0.54|       0.54|
|           0.64|       0.55|
|           0.55|       0.59|
|           0.61|       0.34|
|           0.62|       0.49|
|           0.58|       0.54|
|           0.63|       0.63|
|           0.62|       0.69|
|           0.56|       0.69|
|           0.62|       0.36|
|           0.57|       0.46|
|           0.55|       0.42|
+---------------+-----------+
only showing top 20 rows

In [43]:
df_sql = spark.sql("""
                    SELECT cpu_utilization, free_memory
                    FROM utilization
                    WHERE cpu_utilization >= 0.5
                    AND free_memory <= 0.5
                    """)

df_sql.sort(df_sql['free_memory'].desc()).show()

+---------------+-----------+
|cpu_utilization|free_memory|
+---------------+-----------+
|            0.5|        0.5|
|           0.67|        0.5|
|           0.66|        0.5|
|           0.66|        0.5|
|           0.54|        0.5|
|           0.69|        0.5|
|           0.66|        0.5|
|           0.56|        0.5|
|           0.55|        0.5|
|            0.5|        0.5|
|           0.57|        0.5|
|           0.55|        0.5|
|           0.53|        0.5|
|            0.6|        0.5|
|            0.7|        0.5|
|           0.64|        0.5|
|           0.67|        0.5|
|           0.51|        0.5|
|           0.54|        0.5|
|           0.51|        0.5|
+---------------+-----------+
only showing top 20 rows

In [44]:
df_sql.count()

324839

In [46]:
df_sql = spark.sql("""
                    SELECT 
                        cpu_utilization, 
                        free_memory,
                        session_count
                    FROM 
                        utilization
                    WHERE 
                        cpu_utilization >= 0.5
                    AND 
                        free_memory <= 0.5
                    ORDER BY 
                        session_count DESC
                    """)

df_sql.show()

+---------------+-----------+-------------+
|cpu_utilization|free_memory|session_count|
+---------------+-----------+-------------+
|           0.73|       0.27|          105|
|            0.9|       0.01|          105|
|           0.66|        0.1|          105|
|           0.68|       0.03|          105|
|           0.96|       0.24|          105|
|           0.92|       0.19|          105|
|           0.99|        0.2|          105|
|           0.68|        0.1|          105|
|           0.98|       0.17|          105|
|           0.64|        0.2|          105|
|           0.68|       0.26|          105|
|           0.88|       0.32|          105|
|           0.99|       0.33|          105|
|           0.63|       0.24|          105|
|            0.6|       0.35|          105|
|           0.89|       0.34|          105|
|           0.98|       0.23|          105|
|           0.86|       0.16|          105|
|           0.74|       0.33|          105|
|           0.92|       0.33|          105|
+---------------+-----------+-------------+
only showing top 20 rows

### Aggregating data using SQL

- count all records

In [47]:
df_sql = spark.sql("""
                    SELECT count(*)
                    FROM utilization
                    """)

df_sql.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

- count how many times CPU utilization went over 50%

In [49]:
df_sql = spark.sql("""
                    SELECT count(*)
                    FROM utilization
                    WHERE cpu_utilization >= 0.5
                    """)

df_sql.show()

+--------+
|count(1)|
+--------+
|  386739|
+--------+

- count number of times over 50% CPU utilization and group by server_id

In [53]:
df_sql = spark.sql("""
                    SELECT server_id, count(*)
                    FROM utilization
                    WHERE cpu_utilization >= 0.5
                    GROUP BY server_id
                    """)

df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      103|   10000|
|      100|    4280|
|      101|   10000|
|      102|   10000|
|      107|    8896|
|      104|   10000|
|      106|    3163|
|      105|    4950|
|      110|    6483|
|      108|   10000|
|      109|    6704|
|      112|   10000|
|      113|   10000|
|      114|    5859|
|      111|    6600|
|      116|    5099|
|      115|    8630|
|      117|    7212|
|      119|    3091|
|      120|    6396|
+---------+--------+
only showing top 20 rows

- order by descending count

In [52]:
df_sql = spark.sql("""
                    SELECT server_id, count(*)
                    FROM utilization
                    WHERE cpu_utilization >= 0.5
                    GROUP BY server_id
                    ORDER BY count(*) DESC
                    """)

df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      142|   10000|
|      123|   10000|
|      112|   10000|
|      113|   10000|
|      118|   10000|
|      104|   10000|
|      121|   10000|
|      102|   10000|
|      133|   10000|
|      139|   10000|
|      137|   10000|
|      145|   10000|
|      146|   10000|
|      149|   10000|
|      148|   10000|
|      103|   10000|
|      101|   10000|
|      108|   10000|
|      126|    9604|
|      144|    9490|
+---------+--------+
only showing top 20 rows

#### Basic stats about the data

- find the min, max, and mean of session count of each server_id that had over 50% CPU utilization

In [55]:
df_sql = spark.sql("""
                    SELECT 
                        server_id, min(session_count), max(session_count), round(avg(session_count), 2)
                    FROM 
                        utilization
                    WHERE 
                        cpu_utilization >= 0.5
                    GROUP BY 
                        server_id
                    ORDER BY 
                        count(*) DESC
                    """)

df_sql.show()

+---------+------------------+------------------+----------------------------+
|server_id|min(session_count)|max(session_count)|round(avg(session_count), 2)|
+---------+------------------+------------------+----------------------------+
|      142|                60|                95|                       77.81|
|      123|                63|                98|                       80.84|
|      112|                62|                97|                       79.03|
|      113|                68|               103|                       85.94|
|      118|                63|                98|                       80.92|
|      104|                61|                96|                       78.75|
|      121|                60|                95|                        77.8|
|      102|                66|               101|                       83.22|
|      133|                65|               100|                       82.99|
|      139|                61|                96|                        78.8|
|      137|                64|                99|                        81.9|
|      145|                68|               103|                       85.75|
|      146|                60|                95|                        77.8|
|      149|                64|                99|                       81.96|
|      148|                64|                99|                       81.27|
|      103|                66|               101|                       83.58|
|      101|                70|               105|                       87.33|
|      108|                65|               100|                       82.26|
|      126|                58|                93|                       75.25|
|      144|                57|                92|                       74.85|
+---------+------------------+------------------+----------------------------+
only showing top 20 rows

### Joining table using SQL in Spark

In [57]:
df_util = spark.read.format("json").load(json_df_path)

In [58]:
df_util.createOrReplaceTempView("utilization")

- load the file countaining server names to join with the utilization table

In [59]:
df_server_path = path + '/server_name.csv'
df_server = spark.read.format("csv").load(df_server_path, header=True)

In [61]:
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

- create server name table

In [62]:
df_server.createOrReplaceTempView("servers")

In [68]:
df_count = spark.sql("""
                     SELECT DISTINCT server_id
                     FROM servers
                     ORDER BY server_id
                     """)
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [70]:
spark.sql("""
            SELECT min(server_id), max(server_id)
            FROM utilization
            """).show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [75]:
df_join = spark.sql("""
                     SELECT u.server_id, s.server_name, u.session_count
                     FROM utilization u
                     INNER JOIN servers s
                     ON u.server_id = s.server_id
                     ORDER BY session_count
                     """)
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
|      106| 106 Server|           32|
+---------+-----------+-------------+
only showing top 20 rows