In [1]:
from pyspark.sql import SparkSession

In [4]:
# create spark session
spark = SparkSession.builder.getOrCreate()

23/01/08 20:17:40 WARN Utils: Your hostname, BigMac.local resolves to a loopback address: 127.0.0.1; using 192.168.0.186 instead (on interface en0)
23/01/08 20:17:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/01/08 20:17:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
data_path = "/Users/amir/Documents/Courses/LN_IntroToApacheSpark/work/Exercise Files/Data"

## CSV

In [7]:
# import location_temp dataset
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [9]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [10]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [11]:
# number of rows
df1.count()

500000

In [12]:
file_path_no_header = data_path + '/utilization.csv'

# since there are no headers in the file, indicate false for header and use inferSchema
# to let spark guess the schema
df2 = spark.read.format("csv").option("header", "false").option('inferSchema', 'true').load(file_path_no_header)

In [13]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [14]:
df2.count()

500000

In [15]:
# rename columns
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed("_c1", "server_id") \
        .withColumnRenamed("_c2", "cpu_utilization") \
        .withColumnRenamed("_c3", "free_memory") \
        .withColumnRenamed("_c4", "session_count")

In [16]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

## JSON

In [21]:
json_df1_path = data_path + "/utlization.json"
df1_json = spark.read.format("json").load(json_df1_path)

In [22]:
df1_json.count()

500000

In [23]:
df1_json.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## Working with the data

In [24]:
df2.columns

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [25]:
df1.columns

['event_date', 'location_id', 'temp_celcius']

In [27]:
# working with a subset/sample of data
# sample with or without replacement
# use without replacement so that rows that are pulled from the main df are not put back
# to prevent pulling the same rows again when pulling another sample
df2_sample = df2.sample(False, fraction=0.1)

In [29]:
df2_sample.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 10:46:14|      100|           0.57|       0.46|           50|
|03/05/2019 11:06:14|      100|           0.32|       0.35|           71|
|03/05/2019 11:26:14|      100|           0.64|        0.7|           45|
|03/05/2019 11:31:14|      100|           0.66|        0.6|           56|
|03/05/2019 14:26:14|      100|           0.36|       0.55|           53|
|03/05/2019 16:11:14|      100|           0.54|       0.37|           59|
|03/05/2019 16:21:14|      100|           0.29|       0.53|           43|
|03/05/2019 18:36:14|      100|           0.31|       0.34|           70|
|03/05/2019 20:31:14|      100|           0.56|        0.7|           61|
|03/05/2019 20:36:14|      100|           0.35|       0.53|           59|
|03/05/2019 20:51:14|      100|           0.49|        0.5|           38|
|03/06/2019 00:21:14|      100|           0.43|       0.63|           53|
|03/06/2019 02:41:14|      100|           0.62|        0.6|           63|
|03/06/2019 02:56:14|      100|           0.39|        0.4|           41|
|03/06/2019 03:21:14|      100|           0.41|       0.69|           43|
|03/06/2019 03:26:14|      100|           0.48|       0.69|           66|
|03/06/2019 05:11:14|      100|           0.55|       0.57|           55|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [30]:
# sorting the sample data
df2_sort = df2_sample.sort('event_datetime')

In [31]:
df2_sort.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:16|      101|           0.86|       0.09|           93|
|03/05/2019 08:06:31|      110|           0.68|       0.44|           47|
|03/05/2019 08:06:56|      125|           0.42|       0.37|           58|
|03/05/2019 08:07:17|      136|           0.51|        0.4|           76|
|03/05/2019 08:07:28|      141|           0.69|       0.24|           67|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:11:21|      104|           0.62|       0.15|           86|
|03/05/2019 08:11:26|      107|           0.83|        0.2|           72|
|03/05/2019 08:11:41|      116|           0.44|       0.38|           49|
|03/05/2019 08:11:48|      120|           0.58|       0.38|           64|
|03/05/2019 08:12:28|      141|           0.41|       0.63|           63|
|03/05/2019 08:12:31|      143|           0.46|       0.56|           52|
|03/05/2019 08:16:50|      121|           0.89|       0.49|           90|
|03/05/2019 08:17:00|      127|           0.71|       0.19|           58|
|03/05/2019 08:17:17|      136|           0.52|       0.21|           61|
|03/05/2019 08:17:28|      141|           0.48|       0.31|           68|
|03/05/2019 08:17:33|      144|           0.65|        0.3|           86|
|03/05/2019 08:17:44|      149|           0.59|       0.19|           84|
|03/05/2019 08:21:17|      102|           0.75|       0.12|           87|
|03/05/2019 08:21:48|      120|            0.7|       0.35|           80|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows